
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
background-color: #F4FDD9
}

.answer {
  margin-left: 50px;
}

.nav-list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 1000px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;

}

.signupForm{
  margin-top: 100px
}

.link{
  color: green;
}

.card-body{
  background-color: #FF9B71;
  color:white;
}